<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <div class="pull-left logo">
          <a class="" href="#home"><%= image_tag("logo.png")%></a>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="/homes" >Home</a></li>
          <li> <a href="/menus" >Menus</a></li>
          <li> <a href="/info" class="smoothScroll"> Info </a></li>
          <li> <%= render 'shared/cart_text' %></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>