<%= render 'shared/header'%>
<!-- ==== HEADERWRAP ==== -->
<div id="home-section">
  <div id="headerwrap" name="home">
    <header class="clearfix tb">
      <div class="tb-cell text-center">
        <i class="fa fa-heart-o icon"></i>
        <h1>Coffee - Makes you Love</h1>
        <p>A Lot Can Happen Over Coffee, Its Awesome!!! </p>
        <a href="/menus" class="smoothScroll btn btn-lg">Today's Special</a>
      </div>
    </header>
  </div>

</div>
<div class="div-pattern2"></div>
<!-- /headerwrap -->



<!-- ==== SERVICES ==== -->
<div id="services" name="services">
  <div class="container">
    <div class="row">
      <h2 class="centered">WHAT WE OFFER</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-cubes fa-3x"></i>
        <h3>COFFEE</h3>
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-flask fa-3x"></i>
        <h3>TEA</h3>
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-life-ring fa-3x"></i>
        <h3>CAKES</h3>
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
      </div>
    </div>
    <!-- row -->
  </div>
</div>
<!-- container -->
<section class="hero-section section">
  <div class="container">
    <div class="highlight tb">
      <div class="tb-cell">
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui!</br>
          erant bonorum albucius et per, ei sapientem accommodare est. Saepe dolorum constituam ei!!</p>
      </div>
      <div class="links tb-cell">
        <div class="reservation-link">
          <a href="#" class="btn reservation-btn">RESERVATION</a>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="div-pattern"></div>
<!-- ==== ABOUT ==== -->
<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <h2 class="centered">Our Shop</h2>
      <hr>
      <div class="col-md-6"> <img class="img-responsive" src="about1.jpg" align=""> </div>
      <div class="col-md-6">
        <h3>Who we are</h3>
        <p>Lorem ipsum dolor sit amet, quo meis audire placerat eu, te eos porro veniam. An everti maiorum detracto mea. Eu eos dicam voluptaria, erant bonorum albucius et per, ei sapientem accommodare est. Saepe dolorum constituam ei vel. Te sit malorum ceteros repudiandae, ne tritani adipisci vis.</p>
        <h3>Why choose us?</h3>
        <p>Lorem ipsum dolor sit amet, quo meis audire placerat eu, te eos porro veniam. An everti maiorum detracto mea. Eu eos dicam voluptaria, erant bonorum albucius et per, ei sapientem accommodare est. Saepe dolorum constituam ei vel.</p>
      </div>
    </div>
    <!-- row -->
  </div>
</div>
<!-- container -->

<%= render 'shared/footer' %>