<%= render 'shared/header'%>
<!-- ==== TEAM MEMBERS ==== -->
<div id="info" name="info">
<div id="team" name="team">
  <div class="container">
    <div class="row centered">
      <h2 class="centered">Meet Our Chef</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2 centered">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        <br/>
      </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="assets/img/team/team01.jpg" height="120px" width="120px" alt="">
        <h4><strong>Rennyl</strong></h4>
        <p>Consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="assets/img/team/team02.jpg" height="120px" width="120px" alt="">
        <h4><b>Kristean</b></h4>
        <p>Consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="assets/img/team/team03.jpg" height="120px" width="120px" alt="">
        <h4><b>Angilica</b></h4>
        <p>Consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="assets/img/team/team04.jpg" height="120px" width="120px" alt="">
        <h4><b>Shannon</b></h4>
        <p>Consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>

    </div>
  </div>
  <!-- row -->
</div>
<!-- container -->

<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">Get In Touch</h2>
      <hr>

    </div>
    <div class="row">
      <div class="col-md-7">
        <strong>Please give us your feedback!</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        <form id="contact" method="post" class="form" role="form">
          <div class="row">
            <div class="col-md-12 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
            </div>
            <div class="col-md-12 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
              <button class="btn btn-lg pull-left" type="submit">Send Message</button>
            </div>
          </div>

        </form>
        <!-- form -->
      </div>
      <div class="col-md-5">


        <i class="fa fa-map-marker fa-2x"></i>
        <strong>Coffee Shop</strong>
        <p>321 Awesome Street<br>
          New York, NY 12345</p>

        <br/>
        <i class="fa fa-envelope-o fa-2x"></i>
        <p>info@companyname.com</p>

        <br/>
        <i class="fa fa-phone fa-2x"></i>
        <p> +1 235 123 1234</p>

      </div>
    </div>
    <!-- row -->

  </div>
</div>
<!-- container -->
</div>
<%= render 'shared/footer' %>