header, section, footer, aside, nav, main, article, figure {
  display: block;
}

.nomargin {
  margin: 0 !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-12 {
  margin-top: 12px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-75 {
  margin-top: 75px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-12 {
  margin-bottom: 12px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.nopadding {
  padding: 0 !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-top-10 {
  padding-top: 20px !important;
}

.padding-top-22 {
  padding-top: 22px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-bottom-12 {
  padding-bottom: 12px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.position-absolute {
  position: absolute !important;
}

.width-half {
  width: 50%;
}

.float-right {
  float: right !important;
}

.vertical-align-top {
  vertical-align: top !important;
}

.vertical-align-text-top {
  vertical-align: text-top !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.vertical-align-bottom {
  vertical-align: bottom !important;
}

.table {
  display: table !important;
}

.table-cell {
  display: table-cell !important;
}

.flex {
  display: flex !important;
}

.flex-grow-2 {
  flex-grow: 2 !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-order-1 {
  order: 1 !important;
}

.flex-order-2 {
  order: 2 !important;
}